# LLM
GROQ_API_KEY=your_groq_api_key_here

# News
NEWS_API_KEY=your_newsapi_key_here

# Alpha Vantage
ALPHA_VANTAGE_KEY=your_alpha_vantage_key_here

# AWS
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=us-east-1
DYNAMO_TABLE_ANALYSES=equityiq_analyses
DYNAMO_TABLE_DAILY_PICKS=equityiq_daily_picks
S3_BUCKET_NAME=equityiq-reports-yourname

# App
CACHE_TTL_SECONDS=1800
API_BASE_URL=http://fastapi:8000
APP_ENV=development